li{
    font-weight: bold;
    display: inline;
    padding:  30px;
    color: rgb(166, 37, 80);
    

   

}
nav{
    background-color:wheat;
    padding:  2px;
}

.btn {
    float: right;
    padding: 5px;
    border: 1px solid  rgb(91, 25, 47);
    background-color:  rgb(91, 25, 47);;
    font-size: 15px;
    color: white;margin-right: 20px;

}

.container {
    display: flex; 
    flex-direction:row;
}

.card{
    border: 3px solid rgb(91, 25, 47);
    padding: 10px;    
}

.centered {
    text-align: center;
    font-size:26px;
    font-family:'Roboto, Times New Roman', Times, serif;
    position: absolute;
    top: 120px;
    left: 50px;  
    color: white;
  }