


*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
    }
    
    body{
     height: 100vh;
     /*background: linear-gradient(to right,#2193b0, #6dd5ed);*/
     display: flex;
     justify-content: center;
     align-items: center;
    }
    
    .calculator{
     width: 25%;
     overflow: hidden;
     text-align: right;
     border:2px solid rgb(20, 28, 28);
     border-radius: 5%;
    }
    
    .display{
     width: 100%;
     height: 20vh;
     background: rgb(144, 138, 138);
     color: white;
     border-bottom: 2px solid black;
    }


    .input{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
        button{
         border:none;
         background-color: white;
         padding:1.6rem;
         font-size: 22px;
         transition: all 0.3s ease-in-out;

         background-color: rgba(255, 255, 255, 0.8);
         border: 1px solid rgba(0, 0, 0, 0.8);
         padding: 20px;
         font-size: 30px;
         text-align: center;
        }
        

        .output{
             font-size: 28px;
             padding: 25px;
            }
            
            .result{
             font-size: 18px;
             padding: 25px;
            }
            
        
            